$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


/*colors*/
$black: #151515;
$light-green: #4ee1a0;
$grey: #242424;
$light-grey: #D9D9D9;
$white: #FFFFFF;
$primary-font: "Space Grotesk", sans-serif;
$red: #FF6F5B;