.header-navbar {
    ul a {
        text-decoration: none;
        padding: 10px;
    }

    img:hover {
        filter: invert(44%) sepia(39%) saturate(538%) hue-rotate(108deg) brightness(90%) contrast(91%);

    }
}